@model MVCMovies2ndSept.Models.Movy

@{ 
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group:">
             @Html.LabelFor(model => model.Title)
             @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group:">
            @Html.LabelFor(model => model.ReleaseDate)
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group:">
            @Html.LabelFor(model => model.Genre)
            @Html.EditorFor(model => model.Genre)
            @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group:">
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type ="submit" value="Save" />
        </div>

    </div>
}



