@model IEnumerable<MVCMovies2ndSept.Models.Movy>
@{ 
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
        <p>
            Genre: @Html.DropDownList("movieGenre", "All")
            Title: @Html.TextBox("searchString")
            <input type="submit" value ="Filter"/>
        </p>
    }
</p>



<table class="table"> 
<tr>
    <th>@* th stands for table heaader, its actually table cell*@
        @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ReleaseDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Genre)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Price)
    </th>
    


    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td> @* <td> means table data which is basically a cell or column. Note also that tr stands for table row.   *@
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>

                @Html.ActionLink("Edit Record", "Edit", new { id = item.id})
                @Html.ActionLink("Details of Record", "Details", new { id = item.id })
                @Html.ActionLink("Delete Record", "Delete", new { id = item.id })

            </td>



        </tr>



    }

</table>
   



